@import 'normalize.css';
@import './themes';
@import './vue-pagination-2';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--body--text-color);
  background-color: var(--body--background-color);
  overflow-y: scroll;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.layout-container {
  max-width: size(1024);
  margin: 0 auto;
}
