@import 'normalize.css';
@import './themes';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--body--text-color);
  background-color: var(--body--background-color);
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.layout-container {
  max-width: size(1024);
  margin: 0 auto;
}
