:root {
  --body--text-color: #34495e;
  --body--background-color: #e0e4e5;

  --box--background-color: #ffffff;
  --box--border-color: #dadada;
  --box--border-color-soft:#dadadaad;

  --top-bar--background-color: #2c3e50;
  --top-bar--border-color: #1f2b37;

  --nav-main--item--text-color: #ffffff;
  --nav-main--item-hover--background-color: #1f2b37;

  --footbar--background-color: #2c3e50;
  --footbar--text-color: #ffffff;
  --footbar--border-color: #1f2b37;
  --footbar--heading-underline: #ffffff8f;

  --sidebar--stats--text-color: #ffffff;
  --sidebar--stats--questions--background-color: #1abc9c;
  --sidebar--stats--answers--background-color: #2ecc71;
  --sidebar--stats--comments--background-color: #f1c40f;
  --sidebar--stats--users--background-color: #e67e22;

  --sidebar--categories--text-color: #ffffffc9;
  --sidebar--categories--background-color: #34495e;
  --sidebar--categories--border-color: #ffffff5e;

  --title-container--text-color: #ffffff;
  --title-container--main-title--background-color: #3498db;
  --title-container--answers--background-color: #2ecc71;
  --title-container--similar-questions--background-color: #9b59b6;
  --title-container--error--background-color: #e74c3c;

  --form--error--text-color: #ff0000;
  --form--input--text-color: #3a3a3a;
  --form--input--background-color: #f5f7f7;
  --form--input--border-color: #cccccc;
  --form--outline-color: #051825;

  --button--text-color: #ffffff;
  --button--primary--background-color: #2c3e50;
  --button--primary--hover--background-color: #435c77;
  --button--info--background-color: #3498db;
  --button--info--hover--background-color: #1e7dbd;
  --button--success--background-color: #27ae60;
  --button--success--hover--background-color: #22a157;
  --button--warning--background-color: #e67e22;
  --button--warning--hover--background-color: #db761d;
  --button--error--background-color: #e74c3c;
  --button--error--hover--background-color: #d13f2f;

  --pagination--button--border-color: #ffffff;
  --pagination--button--background-color: #ffffff;
  --pagination--button--text-color: #34495e;
  --pagination--button--hover--background-color: #e67e22;
  --pagination--button--hover--text-color: #ffffff;
  --pagination--button--active--background-color: #3498db;
  --pagination--button--active--text-color: #ffffff;

  --question--votes--text-color: #445f7a;
  --question--votes--background-color: #ecf0f1;
  --question--answers-number--text-color: #ecf0f1;
  --question--answers-number--background-color: #3498db;
  --question--answers-number--no-answers--background-color: #d13f2f;
  --question--answers-number--with-best-answer--background-color: #27ae60;
  --question--title--text-color: #3498db;

  --categories--answers-number-background-color: #2ecc71;
  --categories--answers-number-text-color: #ffffff;

  --tag--text-color: #ffffff;
  --tag--background-color: #e67e22;
}

.dark-mode:root {
  --body--text-color: #dadada;
  --body--background-color: #21252b;

  --box--background-color: #282c34;
  --box--border-color: #181a1f;

  --top-bar--background-color: #21252b;
  --top-bar--border-color: #181a1f;

  --nav-main--item--text-color: #ffffff;
  --nav-main--item-hover--background-color: #181a1f;

  --footbar--background-color: #21252b;
  --footbar--text-color: #ffffff;
  --footbar--border-color: #181a1f;
  --footbar--heading-underline: #ffffff8f;

  --sidebar--stats--text-color: #dadada;
  --sidebar--stats--questions--background-color: #21252b;
  --sidebar--stats--answers--background-color: #282c34;
  --sidebar--stats--comments--background-color: #282c34;
  --sidebar--stats--users--background-color: #21252b;

  --sidebar--categories--text-color: #d6d6d6;
  --sidebar--categories--background-color: #282c34;

  --title-container--text-color: #dadada;
  --title-container--main-title--background-color: #181a1f;
  --title-container--answers--background-color: #2ecc71;
  --title-container--similar-questions--background-color: #9b59b6;

  --form--error--text-color: #ebcd29;
  --form--input--text-color: #d4d4d4;
  --form--input--background-color: #1f2229;
  --form--input--border-color: #181a1f;
  --form--outline-color: #ffffff;

  --button--text-color: #e6e6e6;
  --button--primary--background-color: #181a1f;
  --button--primary--hover--background-color: #2a81bb;
  --button--info--background-color: #181a1f;
  --button--info--hover--background-color: #2a81bb;
  --button--success--background-color: #181a1f;
  --button--success--hover--background-color: #1c8d4b;
  --button--warning--background-color: #181a1f;
  --button--warning--hover--background-color: #e67e22;
  --button--error--background-color: #181a1f;
  --button--error--hover--background-color: #d64232;

  --pagination--button--border-color: #181a1f;
  --pagination--button--background-color: #282c34;
  --pagination--button--text-color: #d2d2d2;
  --pagination--button--hover--background-color: #e67e22;
  --pagination--button--hover--text-color: #ffffff;
  --pagination--button--active--background-color: #3498db;
  --pagination--button--active--text-color: #ffffff;

  --question--votes--text-color: #b9b9b9;
  --question--votes--background-color: #3a404b;
  --question--answers-number--text-color: #ecf0f1;
  --question--answers-number--background-color: #3498db;
  --question--answers-number--no-answers--background-color: #d13f2f;
  --question--answers-number--with-best-answer--background-color: #27ae60;
  --question--title--text-color: #4aa3df;

  --categories--answers-number-background-color: #117d3f;
  --categories--answers-number-text-color: #ffffff;

  --tag--text-color: #b9b9b9;
  --tag--background-color: #21252b;
}
