// Colors
$body--bcg: #e0e4e5;
$body--color: #34495e;

$menu--bcg: #2c3e50;
$menu--color: #bdc3c7;
$menu--border-color: #1f2b37;
$menu-item--hover-bcg: #1f2b37;
$menu-item--hover-color: #ffffff;

$link--color: #1a6a9b;
$link-visited--color: #3498db;

$success-color: #27ae60;
$info-color: #3498db;
$error-color: #e74c3c;
